# Environment
.env

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

# Node / Angular
node_modules/
dist/
.angular/
.npm/
*.tgz
npm-debug.log*
yarn-error.log*

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Elastic Beanstalk
.elasticbeanstalk/*.zip
